<div style="background-color: grey;">
  <div class="d-flex flex-wrap">
    <app-recuadro [titulo]="titulo1" [cabecera]="misCabeceras" [datos]="misDatos" class="col-lg-6 mb-4"></app-recuadro>
    <app-recuadro [titulo]="titulo2" [cabecera]="misCabeceras" [datos]="misDatos2" class="col-lg-6 mb-4"></app-recuadro>
  </div>

  <div class="d-flex flex-wrap">
    <app-recuadro [titulo]="titulo3" [cabecera]="misCabeceras" [datos]="misDatos3" class="col-lg-6 mb-4"></app-recuadro>
    <app-recuadro [titulo]="titulo4" [cabecera]="misCabeceras" [datos]="misDatos4" class="col-lg-6 mb-4"></app-recuadro>
  </div>
</div>